<ion-view title="Crear producto" id="page17">
    <ion-content padding="true" class="has-header">
        <form id="crearProducto-form8" class="list ">
            <label class="item item-input " id="crearProducto-input13">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="crearProducto-input14">
                <span class="input-label">Tipo de producto</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.productoCreado" id="crearProducto-button17" class=" button button-positive  button-block ">Crear</a>
    </ion-content>
</ion-view>