<ion-view title="Editar perfil" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="editarPerfil-form6" class="list ">
            <label class="item item-input " id="editarPerfil-input9">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="editarPerfil-input10">
                <span class="input-label">Contraseña</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.confirmarEdiciNPerfil" id="editarPerfil-button12" class=" button button-positive  button-block ">Cambiar</a>
    </ion-content>
</ion-view>