<ion-view title="Olvidó contraseña" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="olvidContraseA-form4" class="list ">
            <label class="item item-input " id="olvidContraseA-input5">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input " id="olvidContraseA-input6">
                <span class="input-label">Confirmar contraseña</span>
                <input type="password" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>