<ion-view title="Registrarme" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="registrarme-form5" class="list ">
            <ion-list id="registrarme-list3">
                <label class="item item-input " id="registrarme-input7">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="registrarme-input8">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.bienvenido" id="registrarme-button7" class=" button button-stable  button-block ">Registrarme</a>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="registrarme-button8" class=" button button-positive  button-block button-clear ">Terminos y condiciones</a>
        </form>
    </ion-content>
</ion-view>